body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #1d1818;
    line-height: 1.5;
}

nav, main > section {
    overflow: auto;
}

main > section, main > footer {
    min-height: 100vh;
}

/* Style the nav bar */
#nav {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: #38f8ff;
    color: #eee;
    display: flex;
}
nav h1, ul {
    margin: 0
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    padding: 1em;
    color: rgb(248, 37, 0);
}